@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@section pre{
   <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/favicon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <title>تغییر اطلاعات حساب  </title>
    <meta name="description" content="مَسای شاپ ">
    <meta name="author" content="Mirazimi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />


    <!-- CSS Files -->
    <link href="~/assets/fonts/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/assets/fonts/font-awesome/css/solid.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/main_ui.css" rel="stylesheet" />
    <link href="~/assets/css/icon.css" rel="stylesheet" />
    <link href="~/assets/css/plugins/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css/plugins/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/nouislider.min.css" rel="stylesheet" /><link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
}
  <div  class="row">
                             <form asp-action="Create" asp-controller="Company" method="post" enctype="multipart/form-data" class="">
                                <div class="col-lg-6 col-md-6">
                                    <header class="card-header">
                                        <h3 class="card-title"><span>ثبت شرکت هواپیمایی</span></h3>
                                    </header>
                                    <div class="login_box">



                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-account-title"><span>*</span>شرکت هوایی</div>
                                                    <div class="form-account-row">
                                                        <input class="input_second input_all" type="text" name="Name" placeholder="AirLine">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-account-title">آدرس </div>
                                                    <div class="form-account-row">
                                                        <input class="input_second input_all" type="text" name="Addres" placeholder="مثال: مشهد">
                                                    </div>
                                                </div>
                                                 
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="form-account-title"><span>*</span> شماره تماس </div>
                                                    <div class="form-account-row">
                                                        <input class="input_second input_all" type="number" name="Phone" placeholder="مثال: 0911">
                                                    </div>
                                                </div>
                                            
                                                  
                                                  
                                                   <div class="col-md-12 col-sm-12">
                                                    <div class="form-account-title"></div>
                                                    <div class="form-account-row">
                                                        <input class="input_second input_all" type="file" name="Pic" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-account-agree">
                                                        <label class="checkbox-form checkbox-primary">
                                                            <input type="checkbox" id="agree">
                                                            <span class="checkbox-check"></span>
                                                        </label>
                                                        <label for="agree"> تمایل به دریافت پیامک دارم</label>
                                                    </div>
                                                </div>
                                            


                                    </div>
                                    </div>
                               
                                <div class="col-12 text--center">
                                    <button type="submit" class="btn big_btn btn-main-masai">ثبت شرکت   </button>
                                </div>
                               </div> 
                             </form>
                          </div>
